<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563055806935-t1ssobn8ig5pnanc1senf426srvki218.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563055806935-t1ssobn8ig5pnanc1senf426srvki218</string>
	<key>API_KEY</key>
	<string>AIzaSyDMZbJ9lVqgsdwl4I_27GKNRcVQqApm29E</string>
	<key>GCM_SENDER_ID</key>
	<string>563055806935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zahirahmad.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-47838</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-47838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563055806935:ios:d3c030c72d4f448a16e392</string>
</dict>
</plist>